/* Designed by Pramesh Bajracharya , Saurav Bajracharya */

.body {
    background-image: url(picsPage/background.png) no-repeat center center fixed;
}

.imageUpload {
    float: right;
}

.colorLabel {
    color: black;
    background-color: burlywood;
}
