/* Designed and Develpoed by Pramesh Bajracharya and Saurav Bajracharya */

* {
    box-sizing: border-box;
    color: azure;
}

html {
    height: 100%;
}

body { 
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    /* Opera*/
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    min-height: 100%;
    background-size: cover;
    font-weight: bold;
}

#topHead {
    padding: 7px;
    position: fixed;
    width: 100%;
    background-color: #ea4c88;
}

#topHead> h2 {
    margin-left: 20px;
}

#home {
    float: right;
    margin-top: -65px;
}


#bodyMain {
    padding: 30px;
}

#left_art {
    margin-left: 30px;
    margin-top: -98px;
    float: right;
    font-weight: 700;
}

#stutable{
	margin-top: 30px;
}

th{
	background-color: darkgrey;
	padding : 10px 15px 10px 15px;
}

td {
    background-color: burlywood;
	padding : 12px 10px 12px 10px;
}
