/* Designed by Pramesh Bajracharya , Saurav Bajracharya */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
    color: white;
}

html {
    height: 100%;
}

body{ 
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    /* Opera*/
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    min-height: 100%;
    background-size: cover;
    font-weight: bold;
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    margin: 0;
    min-height: 100%;
    font-weight: bold;
}

#home {
    float: right;
    margin-top: -65px;
}

#font-self {
    margin-bottom: 90px;
    margin-left: 30px;
}

#left_art {
    margin-left: 30px;
    margin-top: -98px;
    float: right;
    font-weight: 700;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

input {
    border: 0;
    color: #606468;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

#topHead {
    padding: 7px;
    position: fixed;
    width: 100%;
    background-color: #ea4c88;
}

#topHead> h2 {
    margin-left: 20px;
}

#bodyMain {
    padding: 30px;
}

#form_submit {
    float: right;
    width: 150px;
    margin-top: -52px;
    margin-left: 20px;
    border-radius: 50px;
    -webkit-transition: -webkit-transform 0.5s;
}

#form_submit:hover {
    width: 149px;
    border-radius: 60px;
    background-color: #ea4c68;
    color: #fff;
}

.form__fieldRoll {
    margin-left: 30px;
    margin-top: 110px;
}

.form__fieldRoll b {
    text-transform: bold;
}

.form__field {
    margin-left: 30px;
    margin-top: 25px;
}

.form--login {
    color: #606468;
    margin-top: -50px;
}

.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
}

.form--login label {
    background-color: burlywood;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 40%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.form--login input[type="text"],
.form--login input[type="password"] {
    background-color: #FFFFFF;
    color: #606468;
    margin-left: 30px;
    width: 350px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form--login input[type="text"]:focus,
.form--login input[type="text"]:hover,
.form--login input[type="password"]:focus,
.form--login input[type="password"]:hover {
    background-color: burlywood;
    color: #fff;
}

.form--login input[type="submit"] {
    background-color: burlywood;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.form--login input[type="submit"]:focus,
.form--login input[type="submit"]:hover {
    background-color: darkred;
}

input {
    border: 0;
    color: #606468;
    font: inherit;
    width: 40%;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

label {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.new {
    float: left;
    width: 250px;
    background-color: burlywood;
    padding: 15px 0 0 0;
    height: 50px;
}

table {
    margin: 10px 0 0 0;
}

th {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 40%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 50px;
    text-align: left;
    text-transform: none;
}

td {
    background-color: dimgrey;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 40%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 50px;
}

.viewupdate {
    margin: 45px 0 0 30px;
    width: 500px;
}

.studentlist {
    margin-top: -65px;
    width: 700px;
}

#search {
    margin-top: 55px;
    margin-left: 30px;
}

.dibba {
    margin-left: 30px;
    margin-top: 45px;
}

.searchbottom {
    margin-top: 45px;
    margin-left: 30px;
    width: 500px;
}

#importExcel {
    display: inline-block;
    width:45%;
    margin: 40px 0 0 0;
}

#text {
    margin-top: -100px;
    padding: 20px;
}

#file {
    margin-left: 25px;
}

#submit {
    background-color: burlywood;
    color: white;
    height: 40px;
    width: 100px;
    margin-left: 190px;
    border-radius: 50px;
}

#clear {
    clear: both;
    height: 50px;
    width: 100%;
}

#emailDiv {
    /* If needed give styling to position for email section here */
}

#emailForm_p {
    margin: 80px 0 0 35px;
}
