@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #606468;
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    /* Opera*/
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    min-height: 100%;
    background-size: cover;
    font-weight: bold;
}

#font-self {
    /* Student info lekhhya wala */
    margin-bottom: 90px;
    margin-left: 30px;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
    width: 60%;
}

.form--login {
    color: #606468;
}

.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.form--login label {
    background-color: ;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form--login input[type="text"],
.form--login input[type="password"] {
    background-color: #FFFFFF;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form--login input[type="text"]:focus,
.form--login input[type="text"]:hover,
.form--login input[type="password"]:focus,
.form--login input[type="password"]:hover {
    background-color: #FFFFFF;
}

.form--login input[type="submit"] {
    background-color: burlywood;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.form--login input[type="submit"]:focus,
.form--login input[type="submit"]:hover {
    background-color: firebrick;
}

.form__field {
    margin-bottom: 1rem;
}

.form__field__signup {
    width: 60%;
    margin: 9% 0 0 18%;
}

.form__field__forpass {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
}

.form__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.text--center {
    text-align: center;
}

.topDiv {
    width: 100%;
}

.imageLeft {
    float: left;
    width: 25%;
}

#asideCont {
    text-align: center;
    width: 50%;
    color: dimgray;
    float: left;
}

#asideCont h2,
h3 {
    color: dimgray;
}

.imageRight {
    width: 25%;
    float: right;
}

.imageRight img {
    float: right;
}

span {
    position: absolute;
    margin-top: 13.5%;
}

.navBar,
.navBarDiv {
    width: 100%;
}

navigationBar {
    width: 100%;
    border-radius: 20px;
    background-color: burlywood;
}

nav ul li {
    float: left;
}

.clear {
    clear: both;
}

.topnav {
    width: 100%;
    border-radius: 20px;
    background-color: burlywood;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
}

.topnav li {
    float: left;
    margin-left: 4px;
}

.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.topnav li a:hover {
    background-color: firebrick;
    text-decoration: underline;
    border-radius: 20px;
}

.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    .topnav li:not(: first-child) {
        display: none;
    }
    .topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    .topnav.responsive {}
    .topnav.responsive li.icon {
        right: 0;
        top: 0;
    }
    .topnav.responsive li {
        float: none;
        display: inline;
    }
    .topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

.bodyDiv {
    width: 100%;
}

.forAside {
    width: 23.5%;
    height: 100%;
    margin-top: 5%;
    float: left;
    border-radius: 20px;
    background-color: burlywood;
}

.centralDiv {
    width: 50%;
    float: left;
    text-align: center;
	margin:0 2% 0 2%;
}

.loginForm {
    text-align: center;
    width: 60%;
}

.sideBar {
    list-style-type: none;
    margin: 4% 0 4% 2%;
    padding: 0 0 0 4%;
    width: 70%;
    background-color: #f1f1f1;
}

.sideBar li {
    display: inline-block;
}

.sideBar a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sideBar a:hover {
    border-radius: 20px;
    background-color: firebrick;
    color: white;
}

.asideRight {
    width: 20%;
}

.container {
    margin: 5% 5% 5% 30%;
}

.container p {
    text-align: justify;
}

.container ul li {
    text-align: left;
}

#bottom_part {
    float: left;
    position: absolute;
	margin: 200px 0 0 500px;
}

#bottom_part h2 {
    text-align: center;
}

#bottom_part p {
    animation-duration: 700ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
}

#bottom_part p:hover {
    animation-duration: 0ms;
}

@keyframes blink {
    from {
        opacity: 1;
        color: navy;
    }
    to {
        opacity: 0.5;
        color: red;
    }
}

.newFooter {
    float: left;
}

#footer {
    margin-top: 4%;
    width: 100%;
    float: left;
}

#left {
    float: left;
    margin-left: 4%;
}

#right {
    float: right;
    margin-right: 4%;
}
